.carousel-image {
    height: 624px;
}
  
.carousel-image-img {
    height: 410px;
}
  
.middle-card-container {
    padding: 0;
    margin-bottom: 64px;
}
  
.card-text {
    max-width: 326px;
}
  
.info-line {
    width: 174px;
    margin-top: 32px;
}
  
.card-filter-detail {
    margin-top: 50px;
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E;
}  